[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dotenv = "*"
jinja2 = "*"
bs4 = "*"
python-dateutil = "*"
questionary = "*"
copier = "*"
openpyxl = "*"
pandas = "*"
requests-oauthlib = "*"
click = "*"
toml = "*"
tzdata = "*"
selenium = "*"
webdriver-manager = "*"
colorama = "*"
authlib = "*"
cryptography = "*"
cffi = "*"
rq = "*"
redis = "*"
flask = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.11"
