{
  'openapi': '3.0.2',
  'info':
    {
      'version': '2.0.0',
      'title': 'moneyforward invoice api',
      'description': "<h3>\n  マネーフォワード クラウド請求書のAPIドキュメントです。\n</h3>\n<p>\n  各APIのパラメータやレスポンスの仕様が記載されている他、このページから実際にAPIを実行することが可能です。<br />\n  <small>※APIを実行するためには、その前にOAuth認証を実施する必要があります</small><br />\n  <small>※更新系のAPIは、実際にデータが変更されます</small>\n</p>\n<h4>\n  OAuth認証手順\n</h4>\n<ol>\n  <li>OAuthアプリケーション一覧に、このページで認証するアプリケーションを登録します</li>\n    <ul>\n      <li>Redirect URI は <code>https://invoice.moneyforward.com/api/swagger_ui/oauth2_redirect</code> にしてください</li>\n      <li>登録時に表示される Client Id, Client Secret が必要になるので、画面を表示したままにする等、参照できるようにしておいてください</li>\n    </ul>\n  <li>このページの Authorize ボタンをクリックし、表示されたモーダルに認証情報を入力して、 Authorize ボタンをクリックします</li>\n    <ul>\n      <li>client_id, client_secret に、該当のアプリケーションの Client Id, Client Secret を入力してください</li>\n      <li>実行するAPIに必要な権限にチェックをしてください</li>\n    </ul>\n  <li>新しいタブでアプリケーションの承認画面が表示されるので、許可ボタンをクリックします</li>\n    <ul>\n      <li>既に承認済みの場合には、この手順はスキップされます</li>\n    </ul>\n  <li>モーダルに Autorized と表示されれば、認証は成功です</li>\n    <ul>\n      <li>Close ボタンをクリックし、モーダルを閉じてください</li>\n    </ul>\n</ol>\n<h4>\n  API実行手順\n</h4>\n<ol>\n  <li>実行したいAPIをクリックします</li>\n  <li>パラメータとレスポンスについての説明が表示されますので、仕様を確認して Try it out ボタンをクリックします</li>\n  <li>フォームが表示されますので、指定したい内容を入力し、 Execute ボタンをクリックします</li>\n  <li>API実行に使ったコマンドと、API実行結果が表示されます</li>\n</ol>\n",
    },
  'servers': [{ 'url': 'https://invoice.moneyforward.com' }],
  'paths':
    {
      '/api/v2/office':
        {
          'get':
            {
              'operationId': 'getOffice',
              'summary': '事業者情報の取得',
              'security': [{ 'iv_auth': ['read', 'write'] }],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '事業者情報',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          '$ref': '#/components/schemas/JSONAPI_OfficeResponse',
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
          'patch':
            {
              'operationId': 'updateOffice',
              'summary': '事業者情報の更新',
              'security': [{ 'iv_auth': ['write'] }],
              'requestBody':
                {
                  'required': true,
                  'content':
                    {
                      'application/json':
                        {
                          'schema':
                            {
                              'type': 'object',
                              'required': ['office'],
                              'additionalProperties': false,
                              'properties':
                                {
                                  'office':
                                    {
                                      '$ref': '#/components/schemas/OfficeRequest',
                                    },
                                },
                            },
                        },
                    },
                },
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '成功',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          '$ref': '#/components/schemas/JSONAPI_OfficeResponse',
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/v2/partners':
        {
          'get':
            {
              'operationId': 'getPartners',
              'summary': '取引先一覧の取得',
              'security': [{ 'iv_auth': ['read', 'write'] }],
              'parameters':
                [
                  {
                    'name': 'page',
                    'in': 'query',
                    'description': 'ページ番号',
                    'schema': { 'type': 'integer', 'minimum': 1, 'default': 1 },
                  },
                  {
                    'name': 'per_page',
                    'in': 'query',
                    'description': '1ページあたりの表示数',
                    'schema':
                      {
                        'type': 'integer',
                        'minimum': 1,
                        'maximum': 100,
                        'default': 100,
                      },
                  },
                ],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '取引先一覧',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data', 'meta', 'included'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'allOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_PartnerResponse',
                                                  },
                                                  {
                                                    'type': 'object',
                                                    'additionalProperties': false,
                                                    'properties':
                                                      {
                                                        'relationships':
                                                          {
                                                            'type': 'object',
                                                            'additionalProperties': false,
                                                            'properties':
                                                              {
                                                                'departments':
                                                                  {
                                                                    'type': 'object',
                                                                    'additionalProperties': false,
                                                                    'required':
                                                                      ['data'],
                                                                    'properties':
                                                                      {
                                                                        'data':
                                                                          {
                                                                            'type': 'array',
                                                                            'items':
                                                                              {
                                                                                'type': 'object',
                                                                                'additionalProperties': false,
                                                                                'required':
                                                                                  [
                                                                                    'id',
                                                                                    'type',
                                                                                  ],
                                                                                'properties':
                                                                                  {
                                                                                    'id':
                                                                                      {
                                                                                        'type': 'string',
                                                                                      },
                                                                                    'type':
                                                                                      {
                                                                                        'type': 'string',
                                                                                      },
                                                                                  },
                                                                              },
                                                                          },
                                                                      },
                                                                  },
                                                              },
                                                          },
                                                      },
                                                  },
                                                ],
                                            },
                                        },
                                      'included':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'oneOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_PartnerDepartmentResponse',
                                                  },
                                                ],
                                            },
                                        },
                                      'meta':
                                        {
                                          '$ref': '#/components/schemas/IndexMetaResponse',
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
          'post':
            {
              'operationId': 'createPartner',
              'summary': '取引先の作成',
              'security': [{ 'iv_auth': ['write'] }],
              'requestBody':
                {
                  'required': true,
                  'content':
                    {
                      'application/json':
                        {
                          'schema':
                            {
                              'type': 'object',
                              'required': ['partner'],
                              'additionalProperties': false,
                              'properties':
                                {
                                  'partner':
                                    {
                                      'type': 'object',
                                      'allOf':
                                        [
                                          {
                                            '$ref': '#/components/schemas/PartnerRequest',
                                          },
                                          {
                                            '$ref': '#/components/schemas/CreatePartnerDepartmentRequest',
                                          },
                                          {
                                            'type': 'object',
                                            'required': ['name'],
                                          },
                                        ],
                                    },
                                },
                            },
                        },
                    },
                },
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '201':
                    {
                      'description': '成功',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data', 'included'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          'allOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_PartnerResponse',
                                              },
                                              {
                                                'type': 'object',
                                                'additionalProperties': false,
                                                'properties':
                                                  {
                                                    'relationships':
                                                      {
                                                        'type': 'object',
                                                        'additionalProperties': false,
                                                        'properties':
                                                          {
                                                            'departments':
                                                              {
                                                                'type': 'object',
                                                                'additionalProperties': false,
                                                                'required':
                                                                  ['data'],
                                                                'properties':
                                                                  {
                                                                    'data':
                                                                      {
                                                                        'type': 'array',
                                                                        'items':
                                                                          {
                                                                            'type': 'object',
                                                                            'additionalProperties': false,
                                                                            'required':
                                                                              [
                                                                                'id',
                                                                                'type',
                                                                              ],
                                                                            'properties':
                                                                              {
                                                                                'id':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                                'type':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                              },
                                                                          },
                                                                      },
                                                                  },
                                                              },
                                                          },
                                                      },
                                                  },
                                              },
                                            ],
                                        },
                                      'included':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'oneOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_PartnerDepartmentResponse',
                                                  },
                                                ],
                                            },
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/v2/partners/{id}':
        {
          'get':
            {
              'operationId': 'getPartner',
              'summary': '取引先の取得',
              'security': [{ 'iv_auth': ['read', 'write'] }],
              'parameters':
                [
                  {
                    'name': 'id',
                    'in': 'path',
                    'required': true,
                    'schema': { 'type': 'string' },
                  },
                ],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '取引先',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data', 'included'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          'allOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_PartnerResponse',
                                              },
                                              {
                                                'type': 'object',
                                                'additionalProperties': false,
                                                'properties':
                                                  {
                                                    'relationships':
                                                      {
                                                        'type': 'object',
                                                        'additionalProperties': false,
                                                        'properties':
                                                          {
                                                            'departments':
                                                              {
                                                                'type': 'object',
                                                                'additionalProperties': false,
                                                                'required':
                                                                  ['data'],
                                                                'properties':
                                                                  {
                                                                    'data':
                                                                      {
                                                                        'type': 'array',
                                                                        'items':
                                                                          {
                                                                            'type': 'object',
                                                                            'additionalProperties': false,
                                                                            'required':
                                                                              [
                                                                                'id',
                                                                                'type',
                                                                              ],
                                                                            'properties':
                                                                              {
                                                                                'id':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                                'type':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                              },
                                                                          },
                                                                      },
                                                                  },
                                                              },
                                                          },
                                                      },
                                                  },
                                              },
                                            ],
                                        },
                                      'included':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'oneOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_PartnerDepartmentResponse',
                                                  },
                                                ],
                                            },
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
          'patch':
            {
              'operationId': 'updatePartner',
              'summary': '取引先の更新',
              'security': [{ 'iv_auth': ['write'] }],
              'parameters':
                [
                  {
                    'name': 'id',
                    'in': 'path',
                    'required': true,
                    'schema': { 'type': 'string' },
                  },
                ],
              'requestBody':
                {
                  'required': true,
                  'content':
                    {
                      'application/json':
                        {
                          'schema':
                            {
                              'type': 'object',
                              'required': ['partner'],
                              'additionalProperties': false,
                              'properties':
                                {
                                  'partner':
                                    {
                                      'type': 'object',
                                      'allOf':
                                        [
                                          {
                                            '$ref': '#/components/schemas/PartnerRequest',
                                          },
                                          {
                                            'type': 'object',
                                            'additionalProperties': false,
                                            'properties':
                                              {
                                                'departments':
                                                  {
                                                    'type': 'array',
                                                    'items':
                                                      {
                                                        'allOf':
                                                          [
                                                            {
                                                              'type': 'object',
                                                              'additionalProperties': false,
                                                              'properties':
                                                                {
                                                                  'id':
                                                                    {
                                                                      'type': 'string',
                                                                    },
                                                                },
                                                            },
                                                            {
                                                              '$ref': '#/components/schemas/UpdatePartnerDepartmentRequest',
                                                            },
                                                          ],
                                                      },
                                                  },
                                              },
                                          },
                                        ],
                                    },
                                },
                            },
                        },
                    },
                },
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '成功',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data', 'included'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          'allOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_PartnerResponse',
                                              },
                                              {
                                                'type': 'object',
                                                'additionalProperties': false,
                                                'properties':
                                                  {
                                                    'relationships':
                                                      {
                                                        'type': 'object',
                                                        'additionalProperties': false,
                                                        'properties':
                                                          {
                                                            'departments':
                                                              {
                                                                'type': 'object',
                                                                'additionalProperties': false,
                                                                'required':
                                                                  ['data'],
                                                                'properties':
                                                                  {
                                                                    'data':
                                                                      {
                                                                        'type': 'array',
                                                                        'items':
                                                                          {
                                                                            'type': 'object',
                                                                            'additionalProperties': false,
                                                                            'required':
                                                                              [
                                                                                'id',
                                                                                'type',
                                                                              ],
                                                                            'properties':
                                                                              {
                                                                                'id':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                                'type':
                                                                                  {
                                                                                    'type': 'string',
                                                                                  },
                                                                              },
                                                                          },
                                                                      },
                                                                  },
                                                              },
                                                          },
                                                      },
                                                  },
                                              },
                                            ],
                                        },
                                      'included':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'oneOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_PartnerDepartmentResponse',
                                                  },
                                                ],
                                            },
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
          'delete':
            {
              'operationId': 'deletePartner',
              'summary': '取引先の削除',
              'security': [{ 'iv_auth': ['write'] }],
              'parameters':
                [
                  {
                    'name': 'id',
                    'in': 'path',
                    'required': true,
                    'schema': { 'type': 'string' },
                  },
                ],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '204': { 'description': '成功' },
                },
            },
        },
      '/api/v2/items':
        {
          'get':
            {
              'operationId': 'getItems',
              'summary': '品目一覧の取得',
              'security': [{ 'iv_auth': ['read', 'write'] }],
              'parameters':
                [
                  {
                    'name': 'page',
                    'in': 'query',
                    'description': 'ページ番号',
                    'schema': { 'type': 'integer', 'minimum': 1, 'default': 1 },
                  },
                  {
                    'name': 'per_page',
                    'in': 'query',
                    'description': '1ページあたりの表示数',
                    'schema':
                      {
                        'type': 'integer',
                        'minimum': 1,
                        'maximum': 100,
                        'default': 100,
                      },
                  },
                  {
                    'name': 'excise_type',
                    'in': 'query',
                    'description': "消費税項目のデータ型<br />\nboolean を指定した場合は、 BooleanExciseRequest, BooleanExciseResponse になり、<br />\nenum を指定した場合は、 EnumExciseRequest, EnumExciseResponse になります\nまた、この項目を指定した場合、消費税項目名が excise になります。\n",
                    'schema':
                      {
                        'type': 'string',
                        'enum': ['boolean', 'enum'],
                        'default': 'boolean',
                      },
                  },
                ],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '品目一覧',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data', 'meta'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'array',
                                          'items':
                                            {
                                              'oneOf':
                                                [
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_BasicItemResponse',
                                                  },
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_BooleanExciseItemResponse',
                                                  },
                                                  {
                                                    '$ref': '#/components/schemas/JSONAPI_EnumExciseItemResponse',
                                                  },
                                                ],
                                            },
                                        },
                                      'meta':
                                        {
                                          'type': 'object',
                                          'allOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/IndexMetaResponse',
                                              },
                                              {
                                                '$ref': '#/components/schemas/ExciseTypeMetaResponse',
                                              },
                                            ],
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
          'post':
            {
              'operationId': 'createItem',
              'summary': '品目の作成',
              'security': [{ 'iv_auth': ['write'] }],
              'parameters':
                [
                  {
                    'name': 'excise_type',
                    'in': 'query',
                    'description': "消費税項目のデータ型<br />\nboolean を指定した場合は、 BooleanExciseRequest, BooleanExciseResponse になり、<br />\nenum を指定した場合は、 EnumExciseRequest, EnumExciseResponse になります\nまた、この項目を指定した場合、消費税項目名が excise になります。\n",
                    'schema':
                      {
                        'type': 'string',
                        'enum': ['boolean', 'enum'],
                        'default': 'boolean',
                      },
                  },
                ],
              'requestBody':
                {
                  'required': true,
                  'content':
                    {
                      'application/json':
                        {
                          'schema':
                            {
                              'type': 'object',
                              'required': ['item'],
                              'additionalProperties': false,
                              'properties':
                                {
                                  'item':
                                    {
                                      'type': 'object',
                                      'oneOf':
                                        [
                                          {
                                            'type': 'object',
                                            'allOf':
                                              [
                                                {
                                                  '$ref': '#/components/schemas/BooleanExciseItemRequest',
                                                },
                                                {
                                                  'type': 'object',
                                                  'required': ['name'],
                                                },
                                              ],
                                          },
                                          {
                                            'type': 'object',
                                            'allOf':
                                              [
                                                {
                                                  '$ref': '#/components/schemas/EnumExciseItemRequest',
                                                },
                                                {
                                                  'type': 'object',
                                                  'required':
                                                    ['name', 'excise'],
                                                },
                                              ],
                                          },
                                        ],
                                    },
                                },
                            },
                        },
                    },
                },
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '201':
                    {
                      'description': '成功',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          'oneOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_BasicItemResponse',
                                              },
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_BooleanExciseItemResponse',
                                              },
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_EnumExciseItemResponse',
                                              },
                                            ],
                                        },
                                      'meta':
                                        {
                                          '$ref': '#/components/schemas/ExciseTypeMetaResponse',
                                        },
                                    },
                                },
                            },
                        },
                    },
                },
            },
        },
      '/api/v2/items/{id}':
        {
          'get':
            {
              'operationId': 'getItem',
              'summary': '品目の取得',
              'security': [{ 'iv_auth': ['read', 'write'] }],
              'parameters':
                [
                  {
                    'name': 'excise_type',
                    'in': 'query',
                    'description': "消費税項目のデータ型<br />\nboolean を指定した場合は、 BooleanExciseRequest, BooleanExciseResponse になり、<br />\nenum を指定した場合は、 EnumExciseRequest, EnumExciseResponse になります\nまた、この項目を指定した場合、消費税項目名が excise になります。\n",
                    'schema':
                      {
                        'type': 'string',
                        'enum': ['boolean', 'enum'],
                        'default': 'boolean',
                      },
                  },
                  {
                    'name': 'id',
                    'in': 'path',
                    'required': true,
                    'schema': { 'type': 'string' },
                  },
                ],
              'responses':
                {
                  '400':
                    {
                      'description': 'Bad request',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '401':
                    {
                      'description': 'Unauthorized',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '402':
                    {
                      'description': 'Payment required',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '403':
                    {
                      'description': 'Forbidden',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '404':
                    {
                      'description': 'No resource found',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '406':
                    {
                      'description': 'Not acceptable',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '408':
                    {
                      'description': 'Request Timeout',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '422':
                    {
                      'description': 'Unprocessable entity',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '429':
                    {
                      'description': 'Exceed call limit',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '500':
                    {
                      'description': 'Internal server error',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  '$ref': '#/components/schemas/V1CompatibleErrorResponse',
                                },
                            },
                        },
                    },
                  '200':
                    {
                      'description': '品目',
                      'content':
                        {
                          'application/json':
                            {
                              'schema':
                                {
                                  'type': 'object',
                                  'required': ['data'],
                                  'properties':
                                    {
                                      'data':
                                        {
                                          'type': 'object',
                                          'oneOf':
                                            [
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_BasicItemResponse',
                                              },
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_BooleanExciseItemResponse',
                                              },
                                              {
                                                '$ref': '#/components/schemas/JSONAPI_EnumExciseItemResponse',
                                              },
                                            ],
                                        },
                                      'meta':
                                        {
                                          '$ref': '#/components/schemas/ExciseTypeMetaResponse',
[...]
